QWidget{
    background-color: black;
    color: green
}

QPushButton{
    border-style: outset;
    border-width: 2px;
    border-color: green;
}

QPushButton:pressed{
    color: black;
    background-color: green;
}